{% extends "app/layout.html" %}

{% block content %}

{%if user.is_authenticated%}

<div class="row">
    <div class="col-md-12">
        <h2>Welcome back {{user.get_username}}</h2>
    </div>

    <div class="col-md-12">
        <h2>Games</h2>
        <hr/>
    </div>
</div>

{%if games is not None%}

<div class="row">
    {%for game in games%}
    <div class="col-md-12">
        <h4>{{game.name}}</h4>
        <a href="/viewgame/{{game.id}}">View Game</a>
    </div>
    {%endfor%}
</div>

<div class="row">
    <hr/>
    <div class="col-md-12">
        <a class="btn btn-primary btn-lg" href="/viewgames">View All Games</a>
    </div>
</div>



{%else%}

<div class="row">
    <div class="col-md-12">
        <p>You have not created any games yet.</p>
    </div>
</div>

{%endif%}

<hr/>
<div class="row">
    <div class="col-md-12">
        <a href="/creategame" class="btn btn-primary btn-lg">Create Game</a>
    </div>
</div>

{%else%}

<h2>Welcome to Django Score Keeper</h2>

<p>You are not logged in. Please log in to begin creating your scored or register a new account.</p>

<a href="/login" class="btn btn-primary btn-lg">Log In</a>

{%endif%}


{% endblock %}
