{% extends "app/layout.html" %}

{% block content %}

<div class="row">
{% for game in page_obj %}
    <div class="col-md-12">
        <h4>Game Name: {{game.name}}</h4>
        <p><a href="/viewgame/{{game.id}}">View Game</a></p>
        <hr/>
    </div>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</div>

{%endblock%}